In [1]:
print("rahul")

rahul

In [2]:
print("rahul")

rahul

In [3]:
x,y,z = "orange", "banana","apple"
print(x)
print(y)
print(z)

orange
banana
apple

In [4]:
a = 5
b = "rahul"
print(a)
print(b)

5
rahul

In [5]:
a = 7
b = 99
c = "tata"
d = 'indian bank'
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [6]:
f = 56
h = 'rashida'
print(type(f))
print(type(h))

<class 'int'>
<class 'str'>

In [7]:

x,y,z = 2, 3, 4
print(x+y+z)

9

In [8]:
a,b = 41,56
print(a*b)

2296

In [9]:
a = 'rahul'
b = 'rajender'
c = 'kumar'
print(a,b,c)

rahul rajender kumar

In [10]:
a = 'python is a high level programming language'
print(a)

python is a high level programming language

In [11]:
x = 7
y = 7
print(x + y)

14

In [12]:
x = 14
y = 7
print(x / y)

2.0

In [1]:
def even_check(num):
  if num%2==0:
    return True

lst=[2,3,4,5,6,7]
list(filter(even_check,lst))

[2, 4, 6]

In [9]:

a=[[1,2],[3,4]]
b=[[4,5],[6,7]]
c=[]

for i in range(2):
    for j in range(2):
        c.append(a[i][j]+b[i][j])
print(c)

[5, 7, 9, 11]

In [2]:
x=8
print(type(x))

<class 'int'>

In [7]:
class Company:
  def __init__(self):
    self.name='mumbai coding club'
    self.address='sakinaka'

  def show(self):
    print('name:',self.name,'address:',self.address) 

em=Company()     
print(em.name)
# em.show()

mumbai coding club

In [8]:
class Company:
  def __init__(self):
    self.name='mumbai coding club'
    self.address='sakinaka'

  def show(self):
    print(self.name,self.address)
em=Company()     
em.show()

mumbai coding club sakinaka