In [ ]:
name ="jc"
print(name*3)

In [ ]:


name ="jc"
print(name*3)

jcjcjc

In [ ]:
#addition sums
x = 10
y = 20
print(x+y)

30

In [ ]:
#subtraction sum
x=30
y=20
print(x-y)

10

In [ ]:
#multiplication
x =60
y =30
print(x*y)

1800

In [ ]:
#greater than
x = 50
y = 40
print(x>y)

True

In [ ]:

x = 10
y = 5
z = 7
print(x>y)

True

In [ ]:
#less than
# lower than
x = 10
y = 5
z = 7
print(y>z)

False

In [ ]:
#equal to
#equal to
x = 10
y = 5
z = 7
print(x==y)

False

In [ ]:
#not equal
x = 10
y = 5
z = 7
print(y==z)

False

In [ ]:
# two sums each operators
#arthametic operators

#addition in operators
# 1st question
a= 6
b= 7
print(a+b)

13

In [ ]:
#2nd question
x= 17
y= 89
print(x+y)

106

In [ ]:
# subtraction

x=78
y=60
print(x-y)

18

In [ ]:
a = 107
b = 78
print(a-b)

29

In [ ]:
# multiplication

a = 78
b = 56
print(a*b)

4368

In [ ]:
y = 699
x = 65
print(y*x)

45435

In [ ]:
# division

a = 79
b = 5
print(a/b)

15.8

In [ ]:
x = 80
y = 98
print(x/y)

0.8163265306122449

In [ ]:
#floor division
a = 7
b = 3
print(a//b)

2

In [ ]:
x = 105
z = 4
print(x//z)

26

In [ ]:
# assigment operators
x = 5
x+= 3
print(x)

8

In [ ]:
x = 5
x-= 3
print(x)

2

In [ ]:
x = 5
x*=3
print(x)

15

In [ ]:
x = 5
x/=3
print(x)

1.6666666666666667

In [ ]:
x = 5
x%=3
print(x)

2

In [ ]:
x = 4
x%=2
print(x)

0

In [ ]:
x=5
y%=2
print(x)

5

In [ ]:
x = 5
x//=3
print(x)

1

In [ ]:
#exponentiaion
x = 5
x**=3
print(x)

125

In [ ]:
#python comparision operators

#equal to ==
x = 5
y = 3
print(x == y)

a = 4
b = 4
print(a == b)

False
True

In [ ]:
# not equal to !=

x =5
y =3
print(x != y)

a = 5
b = 5
print(a != b)

True
False

In [ ]:
# greater than

x = 6
y = 3
print(x>y)

#2nd

a = 8
b = 30
print(a>b)

True
False

In [ ]:
# less than

x = 6
y = 5
print(x<y)

a = 10
b = 59
print(a<b)

False
True

In [ ]:
# python logical operators
# and

x = 5
print(x > 3 and x < 10)

a = 6
print(a > 4 and a < 7)

True
True

In [ ]:
#or
x = 5
print(x > 3 or x < 4)

y = 20
print(y > 5 or y < 10)

#not
x = 5
print(not(x>3 and x<10))

y = 56
print(not(y<40 and x>34))

True
True
False
True

In [ ]:
# if and else condition

a = 11
b = 30

if b>a:
    print("b is greater than a")

b is greater than a

In [ ]:
a = 23
b = 34

if a>b:
    print("a is greater than b")
else:
        print("b is greater than a")

b is greater than a

In [ ]:
a =5
b =2

if (a>b):
    print("larger number is" ,a)
else:
        print("larger number is" ,b)

larger number is 5

In [ ]:
x = 897
y = 62782

if (x>y):
    print("smaller number is" ,x)
else:
    print("larger number is" ,y)

larger number is 62782

In [ ]:
a = 678
b = 456

if (a<b):
    print("a is greater than b")
else:
    print("b is smaller than a")

b is smaller than a

In [ ]:
# if statement

a = 300
b = 599

if b>a:
    print("b is greater than a")

b is greater than a

In [ ]:
# multi line code

x = (12+5+45+5+78)
print(x)

#subtraction

y = 2545-54-626-652-617\
    -623+536+5246-52
print(y)

145
5703

In [ ]:
x = 5246+4252+255\
   -562/526*5245
print(x)

4149.026615969582

In [ ]:
a = 30
b = 400
if a>b:
    print("b is greater than a")
else:
    print("a is not greater than b")

a is not greater than b

In [ ]:
x = 599
y = 600

if x>y:
    print("x not greater than y")
else:
    print("y greater than x")

y greater than x

In [ ]:
list=[2,3,4,51,6,7]
greater=1
for i in range(len(list)):
  if greater > list[i]:
    greater=list[i]
    print(greater)

In [ ]:
a=N
one
print(bool(a))

False

In [ ]:
a=[2,3,4,5,6]
b=[4,5,6,7,8]
c=(zip(a,b))
print(c)

<zip object at 0x790f6ea61800>

In [ ]:

a=[1,2,3,4,5]
b=[5,6,7,8,9]
c=[2,3,4,5,6]

list=(map(lambda x,y:x+y,a,b))