In [1]:


name ="jc"
print(name*3)

jcjcjc

In [2]:
#addition sums
x = 10
y = 20
print(x+y)

30

In [3]:
#subtraction sum
x=30
y=20
print(x-y)

10

In [4]:
#division in zero
x=5
y=0
print(x/y)

ZeroDivisionError: division by zero

In [5]:
#multiplication
x =60
y =30
print(x*y)

1800

In [6]:
#greater than 
x = 50
y = 40
print(x>y)

True

In [7]:

x = 10
y = 5
z = 7
#greater than 
print(x>y)l

True

In [8]:
#less than
# lower than
x = 10
y = 5
z = 7
print(y>z)

False

In [9]:
#equal to 
#equal to 
x = 10
y = 5
z = 7
print(x==y)

False

In [10]:
#not equal 
x = 10
y = 5
z = 7
print(y==z)

False

In [11]:
# two sums each operators
#arthametic operators

#addition in operators 
# 1st question
a= 6
b= 7
print(a+b)

13

In [12]:
#2nd question
x= 17
y= 89
print(x+y)

106

In [13]:
# subtraction 

x=78
y=60
print(x-y)

18

In [14]:
a = 107
b = 78
print(a-b)

29

In [15]:
# multiplication

a = 78
b = 56
print(a*b)

4368

In [16]:
y = 699
x = 65
print(y*x)

45435

In [17]:
# division 

a = 79
b = 5
print(a/b)

15.8

In [18]:
x = 80
y = 98
print(x/y)

0.8163265306122449

In [19]:
#floor division
a = 7
b = 3
print(a//b)

2

In [20]:
x = 105
z = 4 
print(x//z)

26

In [21]:
# assigment operators
x = 5
x+= 3
print(x)

8

In [22]:
x = 5
x-= 3
print(x)

2

In [23]:
x = 5
x*=3
print(x)

15

In [24]:
x = 5 
x/=3
print(x)

1.6666666666666667

In [25]:
x = 5
x%=3
print(x)

2

In [26]:
x = 4
x%=2
print(x)

0

In [27]:
x=5
y%=2
print(x)

5

In [30]:
x = 5
x//=3
print(x)

1

In [35]:
#exponentiaion
x = 5
x**=3
print(x)

125

In [39]:
#python comparision operators 

#equal to ==
x = 5
y = 3
print(x == y)

a = 4
b = 4
print(a == b)

False
True

In [40]:
# not equal to !=

x =5
y =3
print(x != y)

a = 5
b = 5
print(a != b)

True
False

In [44]:
# greater than 

x = 6
y = 3
print(x>y)

#2nd 

a = 8
b = 30
print(a>b)

True
False

In [46]:
# less than

x = 6
y = 5
print(x<y)

a = 10
b = 59
print(a<b)

False
True

In [49]:
# python logical operators 
# and 

x = 5
print(x > 3 and x < 10)

a = 6
print(a > 4 and a < 7)

True
True

In [68]:
#or
x = 5
print(x > 3 or x < 4)

y = 20
print(y > 5 or y < 10)

#not
x = 5
print(not(x>3 and x<10))

y = 56
print(not(y<40 and x>34))

True
True
False
True

In [52]:
# if and else condition

a = 11
b = 30

if b>a:
    print("b is greater than a")

b is greater than a

In [54]:
a = 23
b = 34

if a>b:
    print("a is greater than b")
else:
        print("b is greater than a")

b is greater than a

In [55]:
a =5
b =2

if (a>b):
    print("larger number is" ,a)
else:
        print("larger number is" ,b)

larger number is 5

In [61]:
x = 897
y = 62782

if (x>y):
    print("smaller number is" ,x)
else:
    print("larger number is" ,y)

larger number is 62782

In [66]:
a = 678
b = 456
b = 456

if (a<b):
    print("a is greater than b")
else:
    print("b is smaller than a")

b is smaller than a

In [70]:
# if statement 

a = 300
b = 599

if b>a:
    print("b is greater than a")

b is greater than a

In [75]:
# multi line code 

x = (12+5+45+5+78)
print(x)
     
#subtraction

y = 2545-54-626-652-617\
    -623+536+5246-52
print(y)

145
5703

In [79]:
x = 5246+4252+255\
   -562/526*5245
print(x)

4149.026615969582

In [80]:
a = 30
b = 400
if a>b:
    print("b is greater than a")
else: 
    print("a is not greater than b")

a is not greater than b

In [83]:
x = 599
y = 600

if x>y:
    print("x not greater than y")
else: 
    print("y greater than x")

y greater than x