In [8]:
for i in range (4):
    for j in range(4):
        
        print("*",end="")
    print()

****
****
****
****

In [32]:
for i in range (1,5):
    for j in range(1,5):
        print(j,end=" ")
    print("")

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [34]:
n=5
for i in range (1,n):
    for j in range(1,n):
        print(n-j,end=" ")
    print("")

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [53]:
n=6
for i in range (1,n):
    for j in range(1,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [39]:
for i in range (1,10):
    if i%2 == 0:
        print('even number:',i)
    else:
        print('odd number:',i)

odd number: 1
even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9

In [67]:
for i in range(1,6):
    for j in range(1,6):
        print(j, end=" ")
    print("")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [69]:
for i in range(5):
    print("rashida")

rashida
rashida
rashida
rashida
rashida

In [71]:
for i in range(1,8,2):
    for j in range(1,8,2):
        print(j, end="")
    print()

1357
1357
1357
1357

In [82]:
n=10
for i in range(1,n):
    for j in range(1,n):
        print(j,end="")
    print()

123456789
123456789
123456789
123456789
123456789
123456789
123456789
123456789
123456789

In [85]:
for i in range(1,6):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [90]:
n=6
for i in range(1,n):
    for j in range(1,n):
        print(n-j,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [94]:
x=13
for i in range(1,x):
    for j in range(1,x):
        print(x-j,end=" ")
    print()

12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1
12 11 10 9 8 7 6 5 4 3 2 1

In [105]:
n=11
for i in range(n):
    for j in range(i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********
***********

In [108]:
n=11
for i in range(1,n):
    for j in range(1,10):
        print(j, end=" ")
    print()

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9

In [23]:
for x in range(3,33,3):
    print(x)

3
6
9
12
15
18
21
24
27
30

In [24]:
num=int(input('write tables here:'))
for i in range(1,11):
    print(i*num)

write tables here:7
7
14
21
28
35
42
49
56
63
70

In [26]:
number=int(input('enter your number:'))
for i in range(1,11):
    print(i*number)

enter your number:6
6
12
18
24
30
36
42
48
54
60

In [27]:
no=int(input('enter your table:'))
for i in range(1,11):
    print(i*no)

enter your table:2
2
4
6
8
10
12
14
16
18
20

In [44]:
n=11
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [68]:
n=10
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [64]:

for i in range(a,z):
    for j in range(a,z):
        print(j,end="")
    print()

NameError: name 'a' is not defined